* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  color: #666;
}

img {
  vertical-align: middle;
}

header {
  width: 1300px;
  height: 100px;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.logo {
  height: 42px;
  width: 195px;
}

nav li a {
  padding: 10px;
  font-size: 18px;
  color: #000;
  line-height: 40px;
  text-decoration: none;
}

.logo a {
  width: 195px;
  height: 42px;
  display: inline-block;
  background: url(../images/logo.png) no-repeat;
}

nav {
  margin-left: 10px;
}

nav li {
  display: inline-block;
  height: 40px;
  margin-left: 25px;
  float: left;
}

nav li a:hover {
  color: red;
  border-bottom: 2px solid rgb(40, 160, 227);
}

.search {
  width: 410px;
  margin-left: 160px;
}

#search {
  float: left;
  padding-left: 10px;
  width: 360px;
  height: 40px;
  display: inline-block;
  border: 1px solid rgb(40, 160, 227);
}

.search button {
  float: left;
  outline: none;
  border: 0;
  display: inline-block;
  width: 50px;
  height: 40px;
  background: url(../images/fa-search.png) no-repeat;
}

.psersonal {
  margin-left: 30px;
}

.psersonal span + span {
  margin-left: 10px;
  line-height: 40px;
}

.psersonal img {
  border-radius: 50%;
  margin-right: 10px;
}

.psersonal span:nth-child(2)::after {
  content: " ";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgb(245, 0, 0);
  top: -5px;
  right: 10px;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.banner {
  height: 420px;
  background: #1c036c;
}

.iner {
  height: 420px;
  background: url(../images/banner.jpg) 0 0 no-repeat;
  position: relative;
}

aside {
  padding-top: 20px;
  width: 190px;
  background: rgba(0, 0, 0, 0.3);
}

aside ul li {
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
}

.iner aside li a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.iner ul li a:hover {
  color: rgba(90, 129, 231, 0.74);
}

.iner aside span {
  display: inline-block;
  line-height: 40px;
  padding-left: 60px;
}

.circle {
  width: 170px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
}

.circle i {
  display: inline-block;
  background: rgba(255, 255, 255, 0.4);
  width: 13px;
  height: 13px;
  border-radius: 6px;
  margin: 0 5px;
  transition: all 0.4s;
  cursor: pointer;
}

.circle i:hover {
  width: 20px;
  background: rgb(255, 255, 255);
}

.timebook {
  width: 230px;
  height: 300px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.timebook li {
  height: 60px;
  border-bottom: 1px solid #ccc;
  padding-top: 6px;
}

.timebook h5 {
  font-size: 16px;
  font-weight: normal;
}

.timebook dd {
  padding: 15px 20px 0;
}

.timebook dl {
  font-size: 16px;
  height: 50px;
  background: rgb(70, 203, 238);
  line-height: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.timebook a {
  display: block;
  color: rgb(106, 251, 255);
  height: 40px;
  border: 1px solid rgb(106, 251, 255);
  text-align: center;
  font-size: 16px;
}

.rec-l {
  position: relative;
  margin: 20px auto;
  text-align: center;
  height: 60px;
  line-height: 60px;
  border: 1px solid #ccc;
}

.rec-l strong,
a {
  padding: 10px;
}

.rec-l em {
  position: absolute;
  right: 20px;
}
