* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: #f3f5f7;
  color: #666;
}

img {
  vertical-align: middle;
}

h4 {
  display: block;
}

header {
  width: 1300px;
  height: 100px;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.logo {
  height: 42px;
  width: 195px;
}

nav li a {
  padding: 10px;
  font-size: 18px;
  color: #000;
  line-height: 40px;
  text-decoration: none;
}

.logo a {
  width: 195px;
  height: 42px;
  display: inline-block;
  background: url(../images/logo.png) no-repeat;
}

nav {
  margin-left: 10px;
}

nav li {
  display: inline-block;
  height: 40px;
  margin-left: 25px;
  float: left;
}

nav li a:hover {
  color: red;
  border-bottom: 2px solid rgb(40, 160, 227);
}

.search {
  width: 410px;
  margin-left: 160px;
}

#search {
  float: left;
  padding-left: 10px;
  width: 360px;
  height: 40px;
  display: inline-block;
  border: 1px solid rgb(40, 160, 227);
}

.search button {
  float: left;
  outline: none;
  border: 0;
  display: inline-block;
  width: 50px;
  height: 40px;
  background: url(../images/fa-search.png) no-repeat;
}

.psersonal {
  margin-left: 30px;
}

.psersonal span + span {
  margin-left: 10px;
  line-height: 40px;
}

.psersonal span + span img:hover {
  transform: rotate(-360deg);
}

.psersonal img {
  transition: all 0.6s;
  border-radius: 50%;
  margin-right: 10px;
}

.psersonal span:nth-child(2)::after {
  content: " ";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgb(245, 0, 0);
  top: -5px;
  right: 10px;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.banner {
  height: 420px;
  background: #1c036c;
}

.iner {
  height: 420px;
  background: url(../images/banner.jpg) 0 0 no-repeat;
  position: relative;
}

aside {
  width: 190px;
  height: 420px;
  background: rgba(0, 0, 0, 0.3);
}

aside ul li {
  line-height: 45px;
  padding: 0 20px;
}

.iner aside li a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.iner ul li a:hover {
  color: rgba(90, 129, 231, 0.74);
}

.iner aside span {
  display: inline-block;
  line-height: 40px;
  float: right;
}

.circle {
  width: 170px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
}

.circle i {
  display: inline-block;
  background: rgba(255, 255, 255, 0.4);
  width: 13px;
  height: 13px;
  border-radius: 6px;
  margin: 0 5px;
  transition: all 0.4s;
  cursor: pointer;
}

.circle i:hover {
  width: 20px;
  background: rgb(255, 255, 255);
}

.timebook {
  width: 230px;
  height: 300px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.timebook li {
  height: 60px;
  border-bottom: 1px solid #ccc;
  padding-top: 6px;
}

.timebook li:nth-child(3) {
  border: 0;
}

.timebook h5 {
  font-size: 16px;
  font-weight: normal;
}

.timebook dd {
  padding: 15px 20px 0;
}

.timebook dd h5 {
  font-weight: normal;
}

.timebook dl {
  font-size: 16px;
  height: 50px;
  background: rgb(70, 203, 238);
  line-height: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
  letter-spacing: 2px;
}

.timebook a {
  display: block;
  color: rgb(106, 251, 255);
  height: 40px;
  border: 1px solid rgb(106, 251, 255);
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
}

.timebook a:hover {
  color: rgb(255, 255, 255);
  background: rgb(106, 251, 255);
}

.rec-l {
  position: relative;
  margin-top: 10px;
  padding-left: 30px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.4);
}

.rec-l a {
  font-size: 14px;
  padding: 10px;
}

.rec-l strong {
  color: rgb(15, 176, 255);
  font-size: 14px;
  padding: 10px;
}

.rec-l a:visited {
  color: rgb(0, 0, 0);
}

.rec-l a:hover {
  color: rgb(255, 63, 3);
}

.rec-l em {
  position: absolute;
  right: 20px;
  font-style: normal;
}

.products {
  margin-top: 30px;
}

.pro-hd {
  height: 40px;
  position: relative;
}

.pro-hd h4 {
  font-style: normal;
  font-size: 18px;
}

.pro-hd a {
  position: absolute;
  top: 0;
  right: 20px;
}

.clearfix {
  *zoom: 1;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.products li {
  width: 228px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  background: #fff;
  transition: all 0.4s;
}

.products li:nth-child(5n) {
  margin-right: 0;
}

.products li:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
}

.products img {
  transition: all 0.4s;
}

.products img:hover {
  transform: translateX(-5px);
}

.pro-title {
  width: 185px;
  margin: 20px auto;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.products p {
  width: 185px;
  margin: 20px auto;
  color: #999;
}

.products span {
  color: rgb(255, 139, 45);
}

footer {
  height: 420px;
  padding-top: 20px;
  background: #fff;
}

.footer-l {
  float: left;
  padding-left: 15px;
}

.footer-l p {
  padding: 20px 0;
}

.footer-l a {
  width: 120px;
  height: 35px;
  color: rgb(66, 158, 244);
  border: 1px solid rgb(66, 158, 244);
  text-align: center;
  line-height: 35px;
  display: inline-block;
}

.footer-r {
  float: right;
}

.footer-r dl {
  float: left;
  margin-left: 130px;
}

.footer-r dl dt {
  height: 30px;
  font-size: 14px;
  color: #333;
}

.footer-r dl dd {
  height: 20px;
}
